{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

<div class="jumbotron rounded-0">
    <div class="container">
        <h1 class="text-big" id="color-override">Eat Dat Burger!</h1>
        <br>
        <h3 class=" font-weight-light" id="color-override">Make a Burger</h3>
        <panel>
            <form class="create-form">
                <div class="form-group  font-weight-light">
                    <label for="newburger" class="font-weight-light"  id="color-override">New Burger:</label>
                    <input type="text" id="newburger" name="burger">
                   
                    <button type="submit" class="btn btn-success" id="addburger"><span
                            class="fa fa-thumbs-up"></span></button>
                </div>
            </form>
        </panel>
    </div>
</div><!-- /jumbotron -->

<div class="container">

    

    <div class="row">
        <!-- Burgers -->
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header font-weight-light" id="lefthead">New Burgers</div>
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span> {{this.id}} - {{this.burger_name}} </span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fas fa-utensils-alt"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header  font-weight-light" id="righthead">Devoured Burgers</div>
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span> {{this.id}} - {{this.burger_name}}</span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="far fa-trash-alt"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div><!-- /container -->